<h1>{{title}}</h1>
<div>
	{{selectedMusic.id}} - {{selectedMusic.name}} _ is {{playing?'':'not'}} playing
</div>
<div>
	<media-player-button
		(buttonEvent)="randomClicked($event)"
	>
		{{random?"Un-Randomize":"Randomize"}}
	</media-player-button>
	<media-player-button
		(buttonEvent)="previousClicked($event)"
	>
		Previous
	</media-player-button>
	<media-player-button
		(buttonEvent) = "playClicked($event)"
		*ngIf = "!playing"
	>
		Play
	</media-player-button>
	<media-player-button
		(buttonEvent)="pauseClicked($event)"
		*ngIf = "playing"
	>
		Pause
	</media-player-button>
	<media-player-button
		(buttonEvent)="nextClicked($event)"
	>
		Next
	</media-player-button>
	<media-player-button
		(buttonEvent)="loopClicked($event)"
	>
		{{loop?"Un-loop":"Loop"}}
	</media-player-button>
</div>